*{
    margin:0;
    padding:0;
}
.header-conteiner{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 40px 200px 0px 200px;


}
.header-text-conteiner{
    margin-right:80px ;
}
.header-title{
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 70px;
    font-weight: 800;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 0px;
}
.header-img{
    overflow: hidden;
    height: 100%;
}
.btn-primary{
    border: none;
    margin-top:30px ;
    padding: 20px 45px;
    border-radius:8px;
    background-color: #E55473;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;;
    font-family: 'Lato', sans-serif;
}
.section-feature{
    background: #FFF;
    padding:170px 200px 120px 200px ;
}
.feature-title{
    text-align: center;
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.feature-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 50px;
}
.feature-flower-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flower-div{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    gap :25px
}
.flower-div2{
    background: rgba(5, 151, 160, 0.15);
}
.flower-div3{
    background: rgba(71, 125, 17, 0.15);
}
.section-img{
    width: 310px;
    height: 428px;
    padding:110px 80px 0px 80px ;
}

.flower-div-caption{
    color: #272727;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 700;;
    text-decoration-line: underline;
    margin: 30px;
}
.feature-info-conteiner{
    margin-top: 180px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content:space-around ;
    align-items: center;
    padding: 85px 175px ;
}
.feature-info-content{
    padding: 20px;
    text-align: center;
}
.info-description{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.section-hot-Deal{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 450px;
    display:flex ;
    justify-content: space-around;
    align-items: center;
    padding: 100px 400px;
    gap:180px;
}
.hot-deal-info{
    text-align: center;
}
.hot-deal-img{
    width: 318px;
    height: 420px;
}
.hot-deal-title{
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 800;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
}
.font-style{
    color:#E55473 ;
}

.instagram-img-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;;
    padding:50px 200px 0px 200px ;
    margin-bottom:120px ;
}
.instagram-title{
    text-align: center;
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 120px;
}
.instagram-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    
}

.section-input{

    display: flex;
    justify-content: center;
    align-items: center;
    height:500px ;
    border-radius: 8px;
    background-image: url('/Styles/Flower Asset/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 200px 120px 200px;
}
.input-title{
    color: #272727;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.input-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
}

.email-tag{
    border: none;
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 65px;
    margin-right:15px ;

}
#footer-flower-shop{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: #111010;
    text-align: center;
}
.footer-title{
    color:#FFFFFF ;
    font-size: 48px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-top:25px ;
}
.footer-symbol{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin-top:35px ;
}